<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.wwu.de/pi/acse/xtext/validationexample/ValDsl"
			class = "de.wwu.pi.acse.xtext.validationexample.valDsl.ValDslPackage"
			genModel = "model/generated/ValDsl.genmodel" />
	</extension>
</plugin>
